body {
    background: #def
}

#agntv {
    font: 10px sans-serif;
    width: 800px;
    height: 550px;
    //    background-color: #ffc;
}
.g_main_agent {
    pointer-events: all;
    cursor: pointer;
}

.click-capture {
    fill: #000;
}
