.datchart {
  font: 10px sans-serif;
  background-color: #ffc;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;  
  shape-rendering: crispEdges;
}

.line_over {
  stroke: #ccc;
  stroke-width: 1.5;
}

text.ttip {
  font-weight: bold;
  font: 12px;
  font-family: "monospace";
}


.x.axis path {
//  display: none;
}

.g_main_linechart {
  pointer-events: all;
  cursor:pointer;
}

.line {
  fill: none;
//  stroke: steelblue;
  stroke-width: 1.5px;
}
